table {
    width: 100%;
    margin:1rem auto;
 }
 .md-fab-bottom-right{
    position: fixed !important;
    right: 25px; /* Add this and change value to set the margin you want */
}
button{
  margin: 10px;
}
