<h1 mat-dialog-title>Editar Empleado</h1>
<div mat-dialog-content>
    <form class="theme-form" [formGroup]="form">
        <div>
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name" [(ngModel)] = "empleado.name">
              </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="familyName" [(ngModel)] = "empleado.familyName">
              </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button  [disabled]="!form.valid" (click)="editarEmpleado()" cdkFocusInitial>Guardar</button>
</div>

